.experiences-txt {
    font-size: 20px;
    top: 10px;
    font-weight: 100;
}

.experiences-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
}

.experiences-container .experiences {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.014);
    padding: 20px;
    border-radius: 50px;
}

.experiences-container .experiences-1 .experiences-img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/keysight.png); 
    background-size: 330px;
    background-position: center;
    border: 2px solid var(--color-sec-light);
}

.experiences-container .experiences-2 .experiences-img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/bosch.jpg); 
    background-size: 330px;
    background-position: center;
    border: 2px solid var(--color-sec-light);
}

.experiences-container .experiences-3 .experiences-img {
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/jabil.png); 
    background-color: white;
    background-size: 330px;
    background-position: center;
    border: 2px solid var(--color-sec-light);
}


.experiences-container .experiences .experiences-info {
    margin-left: 50px;
    font-family: 'Open Sans Condensed';
    max-width: 50%;
}

.experiences-container .experiences .experiences-info .name {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.experiences-container .experiences .experiences-info .position {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.experiences-container .experiences .experiences-info .about {
    margin-top: 40px;
    font-weight: 100;
    font-size: 17px;
}

.experiences-container .experiences .experiences-info .contact-experiences {
    background: var(--color-sec-light);
    padding: 17px 35px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 50px;
    position: absolute;
    transform: .1s ease;
}

.experiences-container .experiences .experiences-info .contact-experiences span {
    text-transform: capitalize;
}

.experiences-container .experiences .experiences-info .contact-experiences:hover {
    background: transparent;
    border: 2px solid var(--color-sec-light);
}

.about li{
    text-align: justify
}