.container .about-container {
    position: relative;
    display: block;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
    padding: 50px;
    overflow-x: hidden;
    backdrop-filter: blur(20px);
}

.about-con {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 250px;
}

.about-me {
    font-size: 20px;
    top: 10px;
    font-weight: 100;
}

p{
    font-size: 20px;
    font-weight: 100;
    font-family: "Open Sans Condensed";
    text-align: justify;
}